html, body {
  height: 100%;
}

.main-container {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.col-md-4 {
  padding-top: 35px;
}

p {
  line-height: 250%;
}